<% if @current_user != @user %>
      <h3>Who are you Inviting?</h3>
<% else %>
      <h3>Update your profile</h3>
<% end %>
<%= form_for @user do |f| %>

      <%= f.label :name %>
      <%= f.text_field :name %><br>
      <%= f.label :email %>
      <%= f.text_field :email %><br>
      <% if @current_user == @user %>
            <%= f.label :password %>
            <%= f.password_field :password %><br>
            <%= f.label :confirm_password %>
            <%= f.password_field :confirm_password %><br>
            <%= f.submit "Update Profile" %>
      <% else %>
            <%= f.hidden_field :grunt_id, value: params[:grunt_id] %>
            <%= f.submit "Invite Grunt" %>
      <% end %>
      

<% end %>